//- meta情報
- var pageName='UI Clip';
- var pageDescription='UI Clipは、優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイトです。国内外を問わず、Web・アプリ制作の参考となるサイト・アプリをセレクトしています。';
- var pagekey='*****';
- var ogpName='UI Clip';
- var ogpDescription='UI Clipは、優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイトです。国内外を問わず、Web・アプリ制作の参考となるサイト・アプリをセレクトしています。';
- var ogpUrl='https://ui-clip.com/';
//- header (ロゴ、ナビゲーション)
header
  include include/_header

section.content
  .content__inner
    .tab-contents
      //-　APPコンテンツ
      .tab-contents__item-area.is-show
        //-　tokyoartbeatサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/tokyoartbeat/icon-tokyoartbeat.svg")
            dd
              //-　サービス名称
              h2.service-info__name Tokyo Art Beat
                //-　コピーライト
                span.service-info__copy © Art Beat, Inc.
          
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var list = [
                {
                  altName: "tokyoartbeat",
                  imgSrc: "/assets/app/tokyoartbeat/tokyoartbeat-01.png",
                },
                {
                  altName: "tokyoartbeat",
                  imgSrc: "/assets/app/tokyoartbeat/tokyoartbeat-02.png",
                },
                {
                  altName: "tokyoartbeat",
                  imgSrc: "/assets/app/tokyoartbeat/tokyoartbeat-03.png",
                },
                {
                  altName: "tokyoartbeat",
                  imgSrc: "/assets/app/tokyoartbeat/tokyoartbeat-04.png",
                },
                {
                  altName: "tokyoartbeat",
                  imgSrc: "/assets/app/tokyoartbeat/tokyoartbeat-05.png",
                },
                {
                  altName: "tokyoartbeat",
                  imgSrc: "/assets/app/tokyoartbeat/tokyoartbeat-06.png",
                },                                                                                                    
              ]
            each item in list
              div.service-thumbnail__app-item
                a(href="/app/tokyoartbeat.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")
                
        //-　artstickerサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/artsticker/icon-artsticker.svg")
            dd
              //-　サービス名称
              h2.service-info__name ArtSticker
                //-　コピーライト
                span.service-info__copy © The Chain Museum
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listartsticker = [
                {
                  altName: "artsticker",
                  imgSrc: "/assets/app/artsticker/artsticker-01.png",
                },
                {
                  altName: "artsticker",
                  imgSrc: "/assets/app/artsticker/artsticker-02.png",
                },
                {
                  altName: "artsticker",
                  imgSrc: "/assets/app/artsticker/artsticker-03.png",
                },
                {
                  altName: "artsticker",
                  imgSrc: "/assets/app/artsticker/artsticker-04.png",
                },
                {
                  altName: "artsticker",
                  imgSrc: "/assets/app/artsticker/artsticker-05.png",
                },
                {
                  altName: "artsticker",
                  imgSrc: "/assets/app/artsticker/artsticker-06.png",
                },                                                                                                    
              ]
            each item in listartsticker
              div.service-thumbnail__app-item
                a(href="/app/artsticker.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")                

        //-　cookpadサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/cookpad/icon-cookpad.svg")
            dd
              //-　サービス名称
              h2.service-info__name クックパッド
                //-　コピーライト
                span.service-info__copy © Cookpad Inc.
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listcookpad = [
                {
                  altName: "cookpad",
                  imgSrc: "/assets/app/cookpad/cookpad-01.png",
                },
                {
                  altName: "cookpad",
                  imgSrc: "/assets/app/cookpad/cookpad-02.png",
                },
                {
                  altName: "cookpad",
                  imgSrc: "/assets/app/cookpad/cookpad-04.png",
                },
                {
                  altName: "cookpad",
                  imgSrc: "/assets/app/cookpad/cookpad-05.png",
                },
                {
                  altName: "cookpad",
                  imgSrc: "/assets/app/cookpad/cookpad-06.png",
                },
                {
                  altName: "cookpad",
                  imgSrc: "/assets/app/cookpad/cookpad-07.png",
                },                                                                                                    
              ]
            each item in listcookpad
              div.service-thumbnail__app-item
                a(href="/app/cookpad.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")               

        //-　cookpadmartサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/cookpadmart/icon-cookpadmart.svg")
            dd
              //-　サービス名称
              h2.service-info__name クックパッドマート
                //-　コピーライト
                span.service-info__copy © Cookpad Inc.
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listcookpadmart = [
                {
                  altName: "cookpadmart",
                  imgSrc: "/assets/app/cookpadmart/cookpadmart-01.png",
                },
                {
                  altName: "cookpadmart",
                  imgSrc: "/assets/app/cookpadmart/cookpadmart-02.png",
                },
                {
                  altName: "cookpadmart",
                  imgSrc: "/assets/app/cookpadmart/cookpadmart-03.png",
                },
                {
                  altName: "cookpadmart",
                  imgSrc: "/assets/app/cookpadmart/cookpadmart-04.png",
                },
                {
                  altName: "cookpadmart",
                  imgSrc: "/assets/app/cookpadmart/cookpadmart-05.png",
                },
                {
                  altName: "cookpadmart",
                  imgSrc: "/assets/app/cookpadmart/cookpadmart-06.png",
                },                                                                                                    
              ]
            each item in listcookpadmart
              div.service-thumbnail__app-item
                a(href="/app/cookpadmart.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")      

        //-　makuakeサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/makuake/icon-makuake.svg")
            dd
              //-　サービス名称
              h2.service-info__name Makuake
                //-　コピーライト
                span.service-info__copy © Makuake, Inc. 
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listmakuake = [
                {
                  altName: "makuake",
                  imgSrc: "/assets/app/makuake/makuake-01.png",
                },
                {
                  altName: "makuake",
                  imgSrc: "/assets/app/makuake/makuake-02.png",
                },
                {
                  altName: "makuake",
                  imgSrc: "/assets/app/makuake/makuake-03.png",
                },
                {
                  altName: "makuake",
                  imgSrc: "/assets/app/makuake/makuake-04.png",
                },
                {
                  altName: "makuake",
                  imgSrc: "/assets/app/makuake/makuake-05.png",
                },
                {
                  altName: "makuake",
                  imgSrc: "/assets/app/makuake/makuake-06.png",
                },                                                                                               
              ]
            each item in listmakuake
              div.service-thumbnail__app-item
                a(href="/app/makuake.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")   

        //-　AmazonBannerエリア
        include include/_TheBooksBanner

        //-　sumallyサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/sumally/icon-sumally.svg")
            dd
              //-　サービス名称
              h2.service-info__name Sumally
                //-　コピーライト
                span.service-info__copy © Sumally Inc
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listSumally = [
                {
                  altName: "sumally",
                  imgSrc: "/assets/app/sumally/sumally-01.png",
                },
                {
                  altName: "sumally",
                  imgSrc: "/assets/app/sumally/sumally-02.png",
                },
                {
                  altName: "sumally",
                  imgSrc: "/assets/app/sumally/sumally-03.png",
                },
                {
                  altName: "sumally",
                  imgSrc: "/assets/app/sumally/sumally-04.png",
                },
                {
                  altName: "sumally",
                  imgSrc: "/assets/app/sumally/sumally-05.png",
                },
                {
                  altName: "sumally",
                  imgSrc: "/assets/app/sumally/sumally-06.png",
                },                                                                                                    
              ]
            each item in listSumally
              div.service-thumbnail__app-item
                a(href="/app/sumally.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")        

        //-　expediaサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/expedia/icon-expedia.svg")
            dd
              //-　サービス名称
              h2.service-info__name エクスペディア
                //-　コピーライト
                span.service-info__copy © Expedia, Inc.
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listExpedia = [
                {
                  altName: "expedia",
                  imgSrc: "/assets/app/expedia/expedia-01.png",
                },
                {
                  altName: "expedia",
                  imgSrc: "/assets/app/expedia/expedia-02.png",
                },
                {
                  altName: "expedia",
                  imgSrc: "/assets/app/expedia/expedia-03.png",
                },
                {
                  altName: "expedia",
                  imgSrc: "/assets/app/expedia/expedia-04.png",
                },
                {
                  altName: "expedia",
                  imgSrc: "/assets/app/expedia/expedia-05.png",
                },
                {
                  altName: "expedia",
                  imgSrc: "/assets/app/expedia/expedia-06.png",
                },                                                                                                    
              ]
            each item in listExpedia
              div.service-thumbnail__app-item
                a(href="/app/expedia.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")   

        //-　bookingcomサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/bookingcom/icon-bookingcom.svg")
            dd
              //-　サービス名称
              h2.service-info__name Booking.com
                //-　コピーライト
                span.service-info__copy © Booking.com B.V.
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listbookingcom = [
                {
                  altName: "bookingcom",
                  imgSrc: "/assets/app/bookingcom/bookingcom-01.png",
                },
                {
                  altName: "bookingcom",
                  imgSrc: "/assets/app/bookingcom/bookingcom-02.png",
                },
                {
                  altName: "bookingcom",
                  imgSrc: "/assets/app/bookingcom/bookingcom-03.png",
                },
                {
                  altName: "bookingcom",
                  imgSrc: "/assets/app/bookingcom/bookingcom-04.png",
                },
                {
                  altName: "bookingcom",
                  imgSrc: "/assets/app/bookingcom/bookingcom-05.png",
                },
                {
                  altName: "bookingcom",
                  imgSrc: "/assets/app/bookingcom/bookingcom-06.png",
                },                                                                                                    
              ]
            each item in listbookingcom
              div.service-thumbnail__app-item
                a(href="/app/bookingcom.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")   

        //-　tripcomサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/tripcom/icon-tripcom.svg")
            dd
              //-　サービス名称
              h2.service-info__name Trip.com
                //-　コピーライト
                span.service-info__copy © Trip.com Travel Singapore Pte. Ltd.
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listtripcom = [
                {
                  altName: "tripcom",
                  imgSrc: "/assets/app/tripcom/tripcom-01.png",
                },
                {
                  altName: "tripcom",
                  imgSrc: "/assets/app/tripcom/tripcom-02.png",
                },
                {
                  altName: "tripcom",
                  imgSrc: "/assets/app/tripcom/tripcom-03.png",
                },
                {
                  altName: "tripcom",
                  imgSrc: "/assets/app/tripcom/tripcom-04.png",
                },
                {
                  altName: "tripcom",
                  imgSrc: "/assets/app/tripcom/tripcom-05.png",
                },
                {
                  altName: "tripcom",
                  imgSrc: "/assets/app/tripcom/tripcom-06.png",
                },                                                                                                    
              ]
            each item in listtripcom
              div.service-thumbnail__app-item
                a(href="/app/tripcom.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")                     

        //-　reluxサービス情報
        .tab-contents__item-inner
          dl.service-info
            dt
              //-　アイコン
              img(src="/assets/app/relux/icon-relux.svg")
            dd
              //-　サービス名称
              h2.service-info__name Relux
                //-　コピーライト
                span.service-info__copy © Loco Partners Co., Ltd.
          //-　画像
          div.service-thumbnail__app.slider-thumbnail
            - 
              var listrelux = [
                {
                  altName: "relux",
                  imgSrc: "/assets/app/relux/relux-01.png",
                },
                {
                  altName: "relux",
                  imgSrc: "/assets/app/relux/relux-02.png",
                },
                {
                  altName: "relux",
                  imgSrc: "/assets/app/relux/relux-03.png",
                },
                {
                  altName: "relux",
                  imgSrc: "/assets/app/relux/relux-04.png",
                },
                {
                  altName: "relux",
                  imgSrc: "/assets/app/relux/relux-05.png",
                },
                {
                  altName: "relux",
                  imgSrc: "/assets/app/relux/relux-06.png",
                },                                                                                                    
              ]
            each item in listrelux
              div.service-thumbnail__app-item
                a(href="/app/relux.html")
                  img(src=item.imgSrc alt=item.altName loading="lazy")   

        //- ページネーション
        .pagination
          //- .pagination__end
            a.pagination__link(href="")
              .pagination__back-ground
                img.pagination__image(src="/assets/common/icon-goto-first.svg" alt="一番最初へ")
              
          .pagination__inside
            a.pagination__link(href="index.html") 
              img.pagination__inside-image.is-back(src="/assets/common/icon-arrow.svg" alt="前へ")
              p.pagination__text 前へ

          .pagination__inside.is-next
            a.pagination__link(href="page3.html")
              p.pagination__text 次へ
              img.pagination__inside-image(src="/assets/common/icon-arrow.svg" alt="次へ")
              

          //- .pagination__end
            a.pagination__link(href="")
              .pagination__back-ground
                img.pagination__image.is-last-arrow(src="/assets/common/icon-goto-first.svg" alt="一番最後へ")

        //-　AmazonBannerエリア
        include include/_TheBooksBanner

//- footer (SNS、コピーライト)
//- script もfooterの中に記述
footer
  include include/_footer