doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Books」ページです。")
    meta(name="keywords", content="*****,*****,*****,*****,*****")
    meta(name="author", content="")
    meta(property="og:title", content="タイトル")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://任意のURL")
    meta(property="og:image", content="http://任意のURL/og_image.png")
    meta(property="og:site_name", content="")
    meta(property="og:description", content="優れたUIのサービス・プロダクトを中心としたデザインギャラリーサイト UI Clipの「Books」ページです。")
    meta(property="fb:app_id", content="任意のID")
    title Books | UI Clip | UIデザインギャラリー
    link(rel='shortcut icon', href="../assets/common/favicon.png")
    link(rel='shortcut icon', href="../assets/common/apple-touch-icon.png")
    link(rel='shortcut icon', href="../assets/common/android-chrome-192x192.png")    
    link(rel='stylesheet', href="../css/font-style.css")
    link(rel='stylesheet', href="../css/style.css")
    link(rel='stylesheet', href="../css/slick.css")
    link(rel='stylesheet', href="../css/slick-theme.css")
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXXXXX-Y', 'example.com');
      ga('send', 'pageview');
  body
    //- script.
    //-   (window.jQuery || document .write('<script src="js/jquery-1.11.2.min.js"><\/script>'));
    
    //- header (ロゴ、ナビゲーション)
    - var page = "books";
    header
      include ../include/_header
               
    section.content
      .content__inner
        .books-content
          h2.books-content__heading Books

          .books-content__books
            ul.books-content__books-list
              -
                var list = [
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%A2%E3%82%A4%E3%83%87%E3%82%A2%E3%81%AE%E3%81%A4%E3%81%8F%E3%82%8A%E6%96%B9-%E3%82%B8%E3%82%A7%E3%83%BC%E3%83%A0%E3%82%B9-W-%E3%83%A4%E3%83%B3%E3%82%B0/dp/4484881047/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=1EOB6FNNIVRIE&keywords=%E3%82%A2%E3%82%A4%E3%83%87%E3%82%A2%E3%81%AE%E3%81%A4%E3%81%8F%E3%82%8A%E6%96%B9&qid=1663919683&sprefix=becoming+steve+jobs%2Caps%2C777&sr=8-1',
                    image: '/assets/books/item-books-01@2x.jpg',
                    alt: 'アイデアのつくり方',
                    text: 'アイデアのつくり方'
                  },
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95-Business%C3%97Design%C3%97-%E9%87%91-%E6%88%90%E5%A5%8E/dp/4839966907/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=10KJRXG4KTHQZ&keywords=%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95+%28Business%C3%97Design%C3%97IT%29&qid=1663919776&sprefix=%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95+business+design+it+%2Caps%2C214&sr=8-1',
                    image: '/assets/books/item-books-02@2x.jpg',
                    alt: 'ウェブデザインの思考法 (Business×Design×IT)',
                    text: 'ウェブデザインの思考法 (Business×Design×IT) '
                  },
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%AA%E3%83%B3%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3-%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3-%E4%BA%8B%E4%BE%8B%E3%81%A8%E8%AB%96%E8%AA%AC%E3%81%8B%E3%82%89%E8%80%83%E3%81%88%E3%82%8B%E3%82%A6%E3%82%A7%E3%83%96%E3%81%AE%E6%96%87%E5%AD%97%E8%A1%A8%E7%8F%BE-%E4%BC%8A%E8%97%A4%E5%BA%84%E5%B9%B3/dp/4802512074/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=C64OYEYWI8BU&keywords=%E3%82%AA%E3%83%B3%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3+%E4%BA%8B%E4%BE%8B%E3%81%A8%E8%AB%96%E8%AA%AC%E3%81%8B%E3%82%89%E8%80%83%E3%81%88%E3%82%8B%E3%82%A6%E3%82%A7%E3%83%96%E3%81%AE%E6%96%87%E5%AD%97%E8%A1%A8%E7%8F%BE&qid=1663919812&sprefix=%E3%82%A6%E3%82%A7%E3%83%96%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95+business+design+it+%2Caps%2C285&sr=8-1',
                    image: '/assets/books/item-books-03@2x.jpg',
                    alt: 'オンスクリーンタイポグラフィ 事例と論説から考えるウェブの文字表現',
                    text: 'オンスクリーンタイポグラフィ 事例と論説から考えるウェブの文字表現'
                  },
                  {
                    link: 'https://www.amazon.co.jp/%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93%E2%80%95%E3%81%9D%E3%81%AE%E8%83%8C%E6%99%AF%E3%81%A8%E4%BD%BF%E3%81%84%E6%96%B9-%E6%96%B0%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%AC%E3%82%A4%E3%83%89-%E5%B0%8F%E6%9E%97-%E7%AB%A0/dp/4568502772/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=343K6BXW7AGT0&keywords=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93%E2%80%95%E3%81%9D%E3%81%AE%E8%83%8C%E6%99%AF%E3%81%A8%E4%BD%BF%E3%81%84%E6%96%B9&qid=1663919945&sprefix=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93+%E3%81%9D%E3%81%AE%E8%83%8C%E6%99%AF%E3%81%A8%E4%BD%BF%E3%81%84%E6%96%B9%2Caps%2C308&sr=8-1',
                    image: '/assets/books/item-books-04@2x.jpg',
                    alt: '欧文書体―その背景と使い方',
                    text: '欧文書体―その背景と使い方'
                  },                  
                  {
                    link: 'https://www.amazon.co.jp/%E3%83%87%E3%82%A3%E3%83%86%E3%83%BC%E3%83%AB%E3%83%BB%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3-%E8%AA%AD%E3%81%BF%E3%82%84%E3%81%99%E3%81%84%E6%AC%A7%E6%96%87%E7%B5%84%E7%89%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98%E3%81%A8%E8%80%83%E3%81%88%E6%96%B9-%E3%83%A8%E3%83%BC%E3%82%B9%E3%83%88%E3%83%BB%E3%83%9B%E3%83%95%E3%83%AA/dp/477387001X/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3HIJRAJZS6L0Z&keywords=%E3%83%87%E3%82%A3%E3%83%86%E3%83%BC%E3%83%AB%E3%83%BB%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3+%E8%AA%AD%E3%81%BF%E3%82%84%E3%81%99%E3%81%84%E6%AC%A7%E6%96%87%E7%B5%84%E7%89%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98%E3%81%A8%E8%80%83%E3%81%88%E6%96%B9&qid=1663920032&sprefix=%E3%83%87%E3%82%A3%E3%83%86%E3%83%BC%E3%83%AB+%E3%82%A4%E3%83%B3+%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3+%E8%AA%AD%E3%81%BF%E3%82%84%E3%81%99%E3%81%84%E6%AC%A7%E6%96%87%E7%B5%84%E7%89%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98%E3%81%A8%E8%80%83%E3%81%88%E6%96%B9%2Caps%2C206&sr=8-1',
                    image: '/assets/books/item-books-05@2x.jpg',
                    alt: 'ディテール・イン・タイポグラフィ 読みやすい欧文組版のための基礎知識と考え方',
                    text: 'ディテール・イン・タイポグラフィ 読みやすい欧文組版のための基礎知識と考え方'
                  },                  
                  {
                    link: 'https://www.amazon.co.jp/UX%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8-%E5%AE%89%E8%97%A4-%E6%98%8C%E4%B9%9F/dp/4621300377/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=27XNJLVGN0UH&keywords=UX%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8&qid=1663920082&sprefix=ux%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8%2Caps%2C163&sr=8-1m',
                    image: '/assets/books/item-books-06@2x.jpg',
                    alt: 'UXデザインの教科書',
                    text: 'UXデザインの教科書'
                  },        
                  {
                    link: 'https://www.amazon.co.jp/%E8%9E%8D%E3%81%91%E3%82%8B%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3-%E2%80%95%E3%83%8F%E3%83%BC%E3%83%89%C3%97%E3%82%BD%E3%83%95%E3%83%88%C3%97%E3%83%8D%E3%83%83%E3%83%88%E6%99%82%E4%BB%A3%E3%81%AE%E6%96%B0%E3%81%9F%E3%81%AA%E8%A8%AD%E8%A8%88%E8%AB%96-%E6%B8%A1%E9%82%8A%E6%81%B5%E5%A4%AA/dp/4861009383/ref=sr_1_1?keywords=%E8%9E%8D%E3%81%91%E3%82%8B%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3+%E3%83%8F%E3%83%BC%E3%83%89+%E3%82%BD%E3%83%95%E3%83%88+%E3%83%8D%E3%83%83%E3%83%88%E6%99%82%E4%BB%A3%E3%81%AE%E6%96%B0%E3%81%9F%E3%81%AA%E8%A8%AD%E8%A8%88%E8%AB%96&qid=1663920921&sprefix=%E8%9E%8D%E3%81%91%E3%82%8B%2Caps%2C224&sr=8-1',
                    image: '/assets/books/item-books-07@2x.jpg',
                    alt: '融けるデザイン ―ハード×ソフト×ネット時代の新たな設計論',
                    text: '融けるデザイン ―ハード×ソフト×ネット時代の新たな設計論'
                  },         
                  {
                    link: 'https://www.amazon.co.jp/%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AEUI%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3-%E6%94%B9%E8%A8%82%E7%89%88-%E6%B1%A0%E7%94%B0-%E6%8B%93%E5%8F%B8-ebook/dp/B087BMJ1Q6/ref=sr_1_1?keywords=%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AEui%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3&qid=1663920600&sprefix=%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AEUI%2Caps%2C254&sr=8-1',
                    image: '/assets/books/item-books-08@2x.jpg',
                    alt: 'はじめてのUIデザイン 改訂版',
                    text: 'はじめてのUIデザイン 改訂版'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/UI%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8%EF%BC%BB%E6%96%B0%E7%89%88%EF%BC%BD-%E3%83%9E%E3%83%AB%E3%83%81%E3%83%87%E3%83%90%E3%82%A4%E3%82%B9%E6%99%82%E4%BB%A3%E3%81%AE%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%95%E3%82%A7%E3%83%BC%E3%82%B9%E8%A8%AD%E8%A8%88-%E5%8E%9F%E7%94%B0-%E7%A7%80%E5%8F%B8/dp/4798155454/ref=sr_1_1?crid=23EJM1OJOFKI&keywords=ui%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E6%95%99%E7%A7%91%E6%9B%B8&qid=1663920686&sprefix=ui%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%2Caps%2C256&sr=8-1',
                    image: '/assets/books/item-books-09@2x.jpg',
                    alt: 'UIデザインの教科書［新版］ マルチデバイス時代のインターフェース設計',
                    text: 'UIデザインの教科書［新版］ マルチデバイス時代のインターフェース設計'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E3%80%90%E6%96%B0%E7%89%88%E3%80%91UI-GRAPHICS-%E6%88%90%E5%8A%9F%E4%BA%8B%E4%BE%8B%E3%81%A8%E6%80%9D%E6%83%B3%E3%81%8B%E3%82%89%E5%AD%A6%E3%81%B6%E3%80%81%E3%81%93%E3%82%8C%E3%81%8B%E3%82%89%E3%81%AE%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%95%E3%82%A7%E3%82%A4%E3%82%B9%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%A8UX-%E5%AE%89%E8%97%A4%E5%89%9B/dp/4802511051/ref=sr_1_1?keywords=ui+graphics&qid=1663921173&sprefix=UI+gra%2Caps%2C213&sr=8-1',
                    image: '/assets/books/item-books-10@2x.jpg',
                    alt: '【新版】UI GRAPHICS 成功事例と思想から学ぶ、これからのインターフェイスデザインとUX',
                    text: '【新版】UI GRAPHICS 成功事例と思想から学ぶ、これからのインターフェイスデザインとUX'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/Design-Systems-%E2%80%95%E3%83%87%E3%82%B8%E3%82%BF%E3%83%AB%E3%83%97%E3%83%AD%E3%83%80%E3%82%AF%E3%83%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E5%AE%9F%E8%B7%B5%E3%82%AC%E3%82%A4%E3%83%89-Alla-Kholmatova-ebook/dp/B07PTXXK1S/ref=sr_1_1?keywords=design+systems+%E3%83%87%E3%82%B8%E3%82%BF%E3%83%AB%E3%83%97%E3%83%AD%E3%83%80%E3%82%AF%E3%83%88%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E5%AE%9F%E8%B7%B5%E3%82%AC%E3%82%A4%E3%83%89&qid=1663921219&sprefix=design+sy%2Caps%2C250&sr=8-1',
                    image: '/assets/books/item-books-11@2x.jpg',
                    alt: 'Design Systems ―デジタルプロダクトのためのデザインシステム実践ガイド',
                    text: 'Design Systems ―デジタルプロダクトのためのデザインシステム実践ガイド'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93-2-%E5%AE%9A%E7%95%AA%E6%9B%B8%E4%BD%93%E3%81%A8%E6%BC%94%E5%87%BA%E6%B3%95-%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%81%AE%E5%9F%BA%E6%9C%ACBOOK-%E5%B0%8F%E6%9E%97/dp/4568503647/ref=sr_1_4?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3UYLM4Q9MCJUJ&keywords=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93&qid=1663921326&sprefix=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93%2Caps%2C199&sr=8-4',
                    image: '/assets/books/item-books-12@2x.jpg',
                    alt: '欧文書体 2 定番書体と演出法 (タイポグラフィの基本BOOK)',
                    text: '欧文書体 2 定番書体と演出法 (タイポグラフィの基本BOOK)'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93%E3%81%AE%E3%81%A4%E3%81%8F%E3%82%8A%E6%96%B9-%E7%BE%8E%E3%81%97%E3%81%84%E3%82%AB%E3%83%BC%E3%83%96%E3%81%A8%E5%BF%83%E5%9C%B0%E3%82%88%E3%81%84%E5%AD%97%E4%B8%A6%E3%81%B3%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AB-000%E5%86%86-%E7%A8%8E%E3%80%81Book-Design/dp/4909718044/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3UYLM4Q9MCJUJ&keywords=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93&qid=1663921326&sprefix=%E6%AC%A7%E6%96%87%E6%9B%B8%E4%BD%93%2Caps%2C199&sr=8-2',
                    image: '/assets/books/item-books-13@2x.jpg',
                    alt: '欧文書体のつくり方 美しいカーブと心地よい字並びのために',
                    text: '欧文書体のつくり方 美しいカーブと心地よい字並びのために'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E3%83%AC%E3%82%BF%E3%83%BC%E3%82%B9%E3%83%9A%E3%83%BC%E3%82%B7%E3%83%B3%E3%82%B0-%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E6%96%87%E5%AD%97%E9%96%93%E8%AA%BF%E6%95%B4%E3%81%AE%E8%80%83%E3%81%88%E6%96%B9-%E4%BB%8A%E5%B8%82%E9%81%94%E4%B9%9F/dp/4802512090/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=31J5W516UCCJA&keywords=%E3%83%AC%E3%82%BF%E3%83%BC%E3%82%B9%E3%83%9A%E3%83%BC%E3%82%B7%E3%83%B3%E3%82%B0&qid=1663921609&sprefix=%E3%83%AC%E3%82%BF%E3%83%BC%E3%82%B9%E3%83%9A%E3%83%BC%E3%82%B7%E3%83%B3%E3%82%B0%2Caps%2C207&sr=8-1',
                    image: '/assets/books/item-books-14@2x.jpg',
                    alt: 'レタースペーシング タイポグラフィにおける文字間調整の考え方',
                    text: 'レタースペーシング タイポグラフィにおける文字間調整の考え方'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E6%97%A5%E6%9C%AC%E8%AA%9E%E7%B5%84%E7%89%88%E5%85%A5%E9%96%80-%E3%81%9D%E3%81%AE%E6%A7%8B%E9%80%A0%E3%81%A8%E3%82%A2%E3%83%AB%E3%82%B4%E3%83%AA%E3%82%BA%E3%83%A0-%E5%90%91%E4%BA%95-%E8%A3%95%E4%B8%80/dp/4416618689/ref=sr_1_1?keywords=%E6%97%A5%E6%9C%AC%E8%AA%9E%E7%B5%84%E7%89%88%E5%85%A5%E9%96%80&qid=1663921657&sprefix=%E6%97%A5%E6%9C%AC%E8%AA%9E%E7%B5%84%E7%89%88%2Caps%2C213&sr=8-1',
                    image: '/assets/books/item-books-15@2x.jpg',
                    alt: '日本語組版入門: その構造とアルゴリズム',
                    text: '日本語組版入門: その構造とアルゴリズム'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%81%AE%E5%9F%BA%E6%9C%AC%E3%83%AB%E3%83%BC%E3%83%AB-%E2%80%95%E3%83%97%E3%83%AD%E3%81%AB%E5%AD%A6%E3%81%B6%E3%80%81%E4%B8%80%E7%94%9F%E6%9E%AF%E3%82%8C%E3%81%AA%E3%81%84%E6%B0%B8%E4%B9%85%E4%B8%8D%E6%BB%85%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF%E2%80%95%EF%BC%BB%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%A9%E3%83%9C%EF%BC%BD-%E5%A4%A7%E5%B4%8E-%E5%96%84%E6%B2%BB-ebook/dp/B01M721DIP/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3KH4NDA7R0WYJ&keywords=%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3&qid=1663921699&sprefix=%E3%82%BF%E3%82%A4%E3%83%9D%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%2Caps%2C209&sr=8-5',
                    image: '/assets/books/item-books-16@2x.jpg',
                    alt: 'タイポグラフィの基本ルール ―プロに学ぶ、一生枯れない永久不滅テクニック―［デザインラボ］',
                    text: 'タイポグラフィの基本ルール ―プロに学ぶ、一生枯れない永久不滅テクニック―［デザインラボ］'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA-I-%E3%82%A6%E3%82%A9%E3%83%AB%E3%82%BF%E3%83%BC%E3%83%BB%E3%82%A2%E3%82%A4%E3%82%B6%E3%83%83%E3%82%AF%E3%82%BD%E3%83%B3-ebook/dp/B009GXM2AS/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=15MI7YX5F5WP6&keywords=%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96+%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA&qid=1663921750&sprefix=%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96+%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA%2Caps%2C212&sr=8-2',
                    image: '/assets/books/item-books-17@2x.jpg',
                    alt: 'スティーブ・ジョブズ　I',
                    text: 'スティーブ・ジョブズ　I'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/gp/product/B009GXM2OE?ref_=dbs_p_nmg_rwt_anx_cl_1&storeType=ebooks',
                    image: '/assets/books/item-books-18@2x.jpg',
                    alt: 'スティーブ・ジョブズ　II',
                    text: 'スティーブ・ジョブズ　II'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA-%E9%A9%9A%E7%95%B0%E3%81%AE%E3%83%97%E3%83%AC%E3%82%BC%E3%83%B3-%E3%82%AB%E3%83%BC%E3%83%9E%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%AC%E3%83%AD/dp/482224816X/ref=sr_1_25?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=15MI7YX5F5WP6&keywords=%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96+%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA&qid=1663921750&sprefix=%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96+%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA%2Caps%2C212&sr=8-25',
                    image: '/assets/books/item-books-19@2x.jpg',
                    alt: 'スティーブ・ジョブズ 驚異のプレゼン',
                    text: 'スティーブ・ジョブズ 驚異のプレゼン'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA-%E9%A9%9A%E7%95%B0%E3%81%AE%E3%82%A4%E3%83%8E%E3%83%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3-%E3%82%AB%E3%83%BC%E3%83%9E%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%AC%E3%83%AD/dp/4822248569/ref=pd_bxgy_img_sccl_1/357-8233699-4026907?pd_rd_w=l8Oth&content-id=amzn1.sym.918446e7-72f4-48c7-a672-af3b6ace2b19&pf_rd_p=918446e7-72f4-48c7-a672-af3b6ace2b19&pf_rd_r=A8FVGBAYR6HY9RQBJZ2Q&pd_rd_wg=aw7pu&pd_rd_r=cafd3b94-2c0b-4565-ab25-5d3db9adb55f&pd_rd_i=4822248569&psc=1',
                    image: '/assets/books/item-books-20@2x.jpg',
                    alt: 'スティーブ・ジョブズ 驚異のイノベーション',
                    text: 'スティーブ・ジョブズ 驚異のイノベーション'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/Becoming-Steve-%E3%83%93%E3%82%AB%E3%83%9F%E3%83%B3%E3%82%B0%E3%83%BB%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA-%E3%83%93%E3%82%B8%E3%83%A7%E3%83%8A%E3%83%AA%E3%83%BC%E3%81%B8%E3%81%AE%E6%88%90%E9%95%B7%E7%89%A9%E8%AA%9E-%E6%97%A5%E7%B5%8C%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9%E4%BA%BA%E6%96%87%E5%BA%AB/dp/4532198585/ref=sr_1_2?crid=2QTGNECX6XEH1&keywords=becoming+steve+jobs&qid=1663921983&sprefix=becom%2Caps%2C199&sr=8-2',
                    image: '/assets/books/item-books-21@2x.jpg',
                    alt: 'Becoming Steve Jobs 上: ビジョナリーへの成長物語',
                    text: 'Becoming Steve Jobs 上: ビジョナリーへの成長物語'
                  },   
                  {
                    link: 'https://www.amazon.co.jp/Becoming-Steve-%E3%83%93%E3%82%AB%E3%83%9F%E3%83%B3%E3%82%B0%E3%83%BB%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA-%E3%83%93%E3%82%B8%E3%83%A7%E3%83%8A%E3%83%AA%E3%83%BC%E3%81%B8%E3%81%AE%E6%88%90%E9%95%B7%E7%89%A9%E8%AA%9E-%E6%97%A5%E7%B5%8C%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9%E4%BA%BA%E6%96%87%E5%BA%AB/dp/4532198593/ref=sr_1_3?crid=2QTGNECX6XEH1&keywords=becoming+steve+jobs&qid=1663921983&sprefix=becom%2Caps%2C199&sr=8-3',
                    image: '/assets/books/item-books-22@2x.jpg',
                    alt: 'Becoming Steve Jobs 下: ビジョナリーへの成長物語',
                    text: 'Becoming Steve Jobs 下: ビジョナリーへの成長物語'
                  },       
                  {
                    link: 'https://www.amazon.co.jp/%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA-%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%83%83%E3%82%AF%E4%BC%9D%E8%A8%98-%E3%82%B1%E3%83%B4%E3%82%A3%E3%83%B3%E3%83%BB%E3%83%AA%E3%83%B3%E3%83%81/dp/4408338230/ref=sr_1_26?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=15MI7YX5F5WP6&keywords=%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96+%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA&qid=1663921750&sprefix=%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96+%E3%82%B8%E3%83%A7%E3%83%96%E3%82%BA%2Caps%2C212&sr=8-26',
                    image: '/assets/books/item-books-23@2x.jpg',
                    alt: 'スティーブ・ジョブズ グラフィック伝記',
                    text: 'スティーブ・ジョブズ グラフィック伝記'
                  },    

                ]
              each item in list
                li.books-content__books-list-items
                  a.book-link(href=item.link target="_blank")
                    img.book-link__image(src=item.image alt=item.alt)
                    p.book-link__text #{item.text}

          //-　Bannerエリア
          //- .advertisement-area__banner
          //-   img.banner-add(src="/assets/common/add/banner-add-adobe.png" alt="広告")
          
    //- ページネーション
    //-.pagination
      .pagination__end
        a.pagination__link(href="")
          .pagination__back-ground
            img.pagination__image(src="/assets/common/icon-goto-first.svg" alt="一番前に戻る")
          
      .pagination__inside
        a.pagination__link(href="") 
          img.pagination__inside-image.is-back(src="/assets/common/icon-arrow.svg" alt="一番前に戻る")
          p.pagination__text 前へ

      .pagination__inside.is-next
        a.pagination__link(href="")
          p.pagination__text 次へ
          img.pagination__inside-image(src="/assets/common/icon-arrow.svg" alt="一番前に戻る")
          

      .pagination__end
        a.pagination__link(href="")
          .pagination__back-ground
            img.pagination__image.is-last-arrow(src="/assets/common/icon-goto-first.svg" alt="一番後ろに行く")          

    //- footer (SNS、コピーライト)
    //- script もfooterの中に記述 
    footer
      include ../include/_footer